= render 'header'
// oil states and metaline logos
.columns.is-mobile.is-centered
  .column
    = image_tag("metaline_oilstates.png", :class => "below-hero-images center")

// problem section
.columns.is-mobile.is-centered
  .column.is-two-thirds 
    .box
      %div.block
      %p.title.block Metaline extends the life of parts and systems operating in harsh evironments - so you can avoid expensive replacements and associated downtime.
      %div.block
      %p.subtitle.block Pumps, turbines and parts which face a range of conditions such as corrosion cavitation, strong forces, extremes in pH and many others.
      %a See More Info On Metaline
    .box#results
      %p.title.block 
        Flange & Foot Piece Leakage
        %a Read full case study
      %p.subtitle Typical Appearance Before
      = image_tag 'a', alt: '', height: '', width: '', class: ''
      = image_tag 'b'
      = image_tag 'c'
      = image_tag 'd'
    .box
      %p.subtitle Treated With Metaline
      = image_tag 'e'
      = image_tag 'h'
      = image_tag 'i'
      = image_tag 'f'
      = image_tag 'g'

#why-metaline
  .columns.is-mobile.is-centered
    .column.is-two-thirds 
      %p.title Why Metaline?
      %p.subtitle Compare Metaline to other coatings commonly found in NZ
      %table.table.is-bordered.is-striped.is-narrow.is-hoverable.is-fullwidth
        %thead 
          %th Metaline 
          %th Competitor 1
          %th Competitor 2
        %tbody 
          %td Metaline property 
          %td Competitor property 1
          %td Competitor property 2 
        %tbody
          %td Metaline property 
          %td Competitor property 1
          %td Competitor property 2 
        %tbody
          %td Metaline property 
          %td Competitor property 1
          %td Competitor property 2 
        %tbody
          %td Metaline property 
          %td Competitor property 1
          %td Competitor property 2 
        %tbody
          %td Metaline property 
          %td Competitor property 1
          %td Competitor property 2 

//  step by step process
.columns
#contact 
  .columns.is-mobile.is-centered
    .column.is-two-thirds
      .box
        %p.title Contact Us
        .columns.is-mobile-is-centered
          = render 'form'
.columns
#service 
  .columns.is-mobile.is-centered
    .column.is-two-thirds
      .box

= render 'footer'

:javascript 
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
    }