= render 'header'
// oil states and metaline logos
.columns.is-mobile.is-centered
  .column
    = image_tag("metaline_oilstates.png", :class => "below-hero-images center")

// problem section
.columns.is-mobile.is-centered
  .column.is-two-thirds 
    .box
      %div.block
      %p.title.block Metaline extends the life of parts and systems operating in harsh evironments - so you can avoid expensive replacements and associated downtime.
      %div.block

      %p.subtitle.block Pumps, turbines and parts which face a range of conditions such as corrosion, cavitation, strong forces, extremes in pH and many others.
      %a See More Info On Metaline
    .box#results
      %p.title.block 
        Flange & Foot Piece Leakage
        %a Read full case study
      %p.subtitle Typical Appearance Before
      = image_tag 'a', alt: '', height: '', width: '', class: ''
      = image_tag 'b'
      = image_tag 'c'
      = image_tag 'd'
    .box
      %p.subtitle Treated With Metaline
      = image_tag 'e'
      = image_tag 'h'
      = image_tag 'i'
      = image_tag 'f'
      = image_tag 'g'

#why-metaline
  .columns.is-mobile.is-centered
    .column.is-two-thirds 
      %p.title Why Metaline?
      %p.subtitle Metaline extends the life of steel, alloys, rubber, plastic or concrete parts by absorbing destructive kinetic forces. 
      %p.subtitle Spray-on, elastomeric coating which functions like rubber, but posesses erosion resistant qualities equal or greater than Duplex steel.
      %table.table.is-bordered.is-striped.is-narrow.is-hoverable.is-fullwidth
        %thead 
          %th 
          %th Metaline 760
          %th.is-selected Metaline 785
          %th Metaline 795
        %tbody 
          %td 
            %strong Coating Benefits
          %td Shock absorption, rubber repairs, noise deadening, slip resistance
          %td.is-selected Wear protection, erosion protection, cavitation protection, electrical insulation
          %td Anti-fouling effect, non-stick character, corrosion protection, fluid flow efficiency increase
        %tbody 
          %td 
            %strong Use Cases
          %td Repairing rubber linings and conveyor belts. Optimizing the performance of functional rubber parts.
          %td.is-selected Extending the service life of pumps and turbines. Protecting any components subject to erosion, cavitation, corrosion and wear. 
          %td Anything requiring non-stick properties. Anti-fouling. It offers an ultra low coefficient of static friction.
        %tbody
          %td 
            %strong Application
          %td Spray-on
          %td.is-selected Spray-on 
          %td Spray-on
        %tbody 
          %td
            %strong Processing Time 
          %td 7 minutes 
          %td.is-selected 1 minute 
          %td 1 minute 
        %tbody
          %td 
            %strong Solidification
          %td > 1.5 Days
          %td.is-selected > 1 Day
          %td > 1 Day
        %tbody
          %td 
            %strong Hardness
          %td 60 Shore A
          %td.is-selected 82 Shore A 
          %td 95 Shore A  
        %tbody
          %td 
            %strong Tensile Strength
          %td 20 N/mm2
          %td.is-selected 20 N/mm2 
          %td 24 N/mm2
        %tbody
          %td
            %strong Bashore Resilience 
          %td 63% 
          %td.is-selected 45% 
          %td 27%
        %tbody 
          %td 
            %strong Coefficient Of Static Friction
          %td approx. 0.7
          %td.is-selected approx. 0.6
          %td approx 0.15
        %tbody 
          %td 
            %strong Approvals 
          %td FDA 177.1680, EU 1935/2004 + EU 10/2011
          %td.is-selected AS/NZS 4020:2005 (contact with drinking water), FDA 177.1680, EU 1935/2004 + EU 10/2011
          %td FDA 177.1680, EU 1935/2004 + EU 10/2011
      %br
      %a.button.is-dark{:href=> 'localhost:3000/images/700.pdf'} Download Full List Of Metaline Properties

//  step by step process
.columns
#service 
  .columns.is-mobile.is-centered
    .column.is-two-thirds
      .box
        %p.title Our Coating Process Is Efficient & Professional
        .columns.is-mobile-is-centered
          .column.is-one-third 
            %p.subtitle Hassle Free Interaction
            %p We can come to you to pick up parts for coating or you can visit us at our shop located at Mt. Maunganui. We are mobile and provide coating services for clients throughout New Zealand.
          .column.is-one-third 
            %p.subtitle Expert Coating Application
            %p Coating parts with Metaline requires a controlled environment, technical skills and experience. Applying Metaline is more complicated than other coatings you may be familiar with. We can coat the parts for you, or train team members to do it.
          .column.is-one-third 
            %p.subtitle You Save Money
            %p We return your parts and you save money by avoiding expensive replacement costs. We provide ongoing support and assistance.
// contact
.columns
#contact 
  .columns.is-mobile.is-centered
    .column.is-two-thirds
      .box
        %p.title Contact Us
        = render 'form'

= render 'footer'

:javascript 
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
    }